body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F4F6F8;;  
    color: #343434;            
}
.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.9rem;
  font-weight: 800;
  letter-spacing: 0.01em;
  margin: 0;
  margin-bottom: 25px; 
  text-align: center;
  color: #049FD9;
}

.title {
    font-size: 1.0rem;
    text-align: center;
    color: #343434;  
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.card {
    background: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    width: 300px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}


.form-group {
    margin-bottom: 15px;

}

label {
    font-size: 14px;
    color: #343434;  
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: 1px solid #333;
    background: #f1f1f1;
    box-sizing: border-box;
    color: #343434; 
}


input:focus {
    outline: none;
    border-color: #555;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    background: #049FD9;
    color: white;
    cursor: pointer;

    transition: 0.2s ease;
}

button:hover {
    background: #0288c7;
}


.auth-link {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.auth-link a {
    color: #049FD9;
    text-decoration: none;
}

.auth-link a:hover {
    text-decoration: underline;
}

.error {
    background: #ffecec;
    color: #c0392b;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 14px;
}