<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash">
                {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}          
    <div class="page">
        <div class="card">


            <!-- TOPBAR -->
        <div class="topbar">
            <h1>Admin Ticket Console</h1>

            <div style="display: flex; gap: 10px;">
                <a href="{{ url_for('create_ticket') }}">
                    <button type="button">+ Create Ticket</button>
                </a>

                <form action="{{ url_for('logout') }}" method="POST">
                    <button type="submit">Sign Out</button>
                </form>
            </div>
        </div>

        <h2 class="section-title">All Tickets</h2>

        {% for ticket in tickets %}
        <div class="ticket-box">
            <h3>{{ ticket.title }}</h3>
            <p>{{ ticket.body }}</p>

            <p><strong>User:</strong> {{ ticket.author.username }}</p>
            <p><strong>Email:</strong> {{ ticket.author.email }}</p>

            <p>Priority: {{ ticket.priority }}</p>
            <p>Status: {{ ticket.status }}</p>

            <a href="{{ url_for('edit_ticket', ticket_id=ticket.id) }}">
                <button type="button">Edit</button>
            </a>
        </div>
        {% endfor %}

        </div>
    </div>
</body>
</html>