<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="page">
        <div class="card">

            <!-- TOPBAR -->
            <div class="topbar">
                <h1>Ticket Console</h1>

                <div style="display: flex; gap: 10px;">

                        <a href="{{ url_for('create_ticket') }}">
                        <button type="button">+ Create Ticket</button>
                        </a>
                    

                    <form action="{{ url_for('logout') }}" method="POST">
                        <button type="submit">Sign Out</button>
                    </form>
                </div>
            </div>

            <!-- SECTION -->
            <h2 class="section-title">My Tickets</h2>

            <!-- STATIC (for now) -->
            <div class="ticket-box">
                <h3>Password Reset</h3>
                <p>Status: Pending</p>
            </div>

            <div class="ticket-box">
                <h3>Access Request</h3>
                <p>Status: In Progress</p>
            </div>

            <div class="ticket-box">
                <h3>Laptop Issue</h3>
                <p>Status: Completed</p>
            </div>

        </div>
    </div>
</body>
</html>